# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ IDEA
src/pc/.idea/

# Gradle
src/pc/.gradle/

# Java Compiled files
src/pc/bin/
src/pc/build/
*.class

# PlatformIO
.pio
.vscode
src/arduino/smart_bridge/.gitignore
